# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

#raw data
data/raw/

# Generated data
data/processed/

# Saved models
models/

# OS files
.DS_Store
Thumbs.db